# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Logs & temp
*.log
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db
